<a href="https://colab.research.google.com/github/DanielRGuillen/operation_enchante_fans/blob/Guillen_eda_order_data/EDA_order_data_op_enchante_fans.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#comentario rama Guillén
import pandas as pd
import numpy as np
import plotly.express as px
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
from google.colab import auth
import pandas as pd

# get credentials
auth.authenticate_user()

query = '''
SELECT *
FROM `operation-enchante-fans.franquicias_pro_fans.order_data`

'''
order_data_df = pd.read_gbq(query, project_id="operation-enchante-fans")
order_data_df.head()

,int64_field_0,id_order,id_store,id_table,id_waiter,id_device,date_opened,date_closed,customers,price
0,590949,3530022,730,8300,1095,755.0,2016-10-28 17:51:03+00:00,2016-10-28 19:21:44+00:00,2,38.50
1,46872,3468966,730,<NA>,1095,755.0,2016-10-25 18:00:42+00:00,2016-10-25 21:03:53+00:00,3,69.00
2,461407,7819942,730,<NA>,972,757.0,2017-04-27 19:11:42+00:00,2017-04-27 21:01:40+00:00,2,59.00
3,505562,6239150,730,8306,1095,756.0,2017-03-06 19:25:39+00:00,2017-03-06 20:21:17+00:00,2,44.00
4,474456,20259257,730,8291,1095,755.0,2018-01-29 18:42:49+00:00,2018-01-29 18:45:13+00:00,2,56.25

In [ ]:
order_data_df.shape

(1281087, 10)

In [ ]:
print(f'cantidad de tiendas: {order_data_df["id_store"].nunique()}')
unique_id_store = order_data_df['id_store'].unique()
unique_id_store

cantidad de tiendas: 21

<IntegerArray>
[ 730, 1513, 2035, 4151, 4196, 4364, 5617, 5860, 7304, 7786, 7872, 8291,  351,
  360, 4803, 5210, 5498, 6008, 6827, 6830, 5281]
Length: 21, dtype: Int64

In [ ]:
# Número de ordenes por mesero -> el resultado no muestra los id_waiter que son nulos
print(order_data_df.groupby(["id_waiter"], as_index=False).size())

    id_waiter    size
0         461   14615
1         465       9
2         472   11908
3         603      66
4         972     400
5        1095    9612
6        2034     232
7        2464   22253
8        2539      20
9        2752   17302
10       2753   13317
11       6607  765137
12       6643   70249
13       6693    2505
14       7185    5541
15       7186     777
16       7187     745
17       7225    6156
18       7405   36020
19       8257   17460
20       8303     567
21       9137    3080
22       9270   10056
23       9289   42080
24       9665    3138
25      10279    2491
26      10411    4512
27      10627    3827
28      10628    1501
29      10836     188
30      10976     344
31      10977   14407
32      10990   11624
33      10991    4875
34      11211    2504
35      12873     976
36      12893     308
37      12894    5810
38      12895      22
39      13318    1647
40      14172    2554
41      14302   13565
42      15509    4577
43      15756     943
44      16823   44093
45      17052     170
46      17650    5546
47      20061     578
48      21061      34
49      22355    2471
50      24833      21
51      24919       3
52      24920    1703
53      24921      50
54      25250    1865
55      25560    1523
56      25608      48
57      26272     111
58      26319    2813
59      27245      64

In [ ]:
#how many orders are there per store
# orders_per_status = order_data_df["id_store"].value_counts()
# orders_per_status
order_data_df.groupby(["id_store"]).size().sort_values(ascending=False)

id_store
4151    871407
5281    127724
8291     54048
2035     30637
1513     22741
6008     18552
4803     18027
5617     17467
6827     14770
351      14694
4364     13219
5210     13136
360      12218
730      10012
5498      9282
6830      7696
7786      6333
7872      5366
7304      5025
5860      4560
4196      4173
dtype: int64

turnover per store

In [ ]:
order_data_df.groupby(["id_store"])["price"].sum().sort_values(ascending=False)

id_store
4151    6130321.93
5281    1562753.10
360     1167409.15
4364    1119285.88
2035    1105873.88
1513    1091837.28
351      988194.55
5210     811002.78
6827     810113.21
4196     793537.58
8291     664667.75
5498     621007.38
730      522924.59
5860     501317.49
6008     488562.98
6830     473969.55
4803     472200.65
5617     301837.20
7304     280046.90
7786     220467.82
7872     152336.00
Name: price, dtype: float64



```
 average price of an order for each restaurant
```

In [ ]:
df_turnover = order_data_df.groupby(["id_store"])["price"].agg(['size', 'sum']).reset_index()
df_turnover["avg_order_price"] = df_turnover["sum"] / df_turnover["size"]
df_turnover.sort_values("avg_order_price", ascending=False)

    id_store    size         sum  avg_order_price
6       4196    4173   793537.58       190.159976
13      5860    4560   501317.49       109.938046
1        360   12218  1167409.15        95.548302
7       4364   13219  1119285.88        84.672508
0        351   14694   988194.55        67.251569
11      5498    9282   621007.38        66.904480
9       5210   13136   811002.78        61.738945
16      6830    7696   473969.55        61.586480
17      7304    5025   280046.90        55.730726
15      6827   14770   810113.21        54.848559
2        730   10012   522924.59        52.229783
3       1513   22741  1091837.28        48.011841
4       2035   30637  1105873.88        36.096024
18      7786    6333   220467.82        34.812541
19      7872    5366   152336.00        28.389117
14      6008   18552   488562.98        26.334788
8       4803   18027   472200.65        26.194078
12      5617   17467   301837.20        17.280426
20      8291   54048   664667.75        12.297731
10      5281  127724  1562753.10        12.235391
5       4151  871407  6130321.93         7.034970

#Verificando valores Nulos y tipo de datos

In [ ]:
order_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1281087 entries, 0 to 1281086
Data columns (total 10 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   int64_field_0  1281087 non-null  Int64
 1   id_order       1281087 non-null  Int64
 2   id_store       1281087 non-null  Int64
 3   id_table       200473 non-null   Int64
 4   id_waiter      1191013 non-null  Int64
 5   id_device      1272219 non-null  float64
 6   date_opened    1281087 non-null  datetime64[ns, UTC]
 7   date_closed    1281087 non-null  datetime64[ns, UTC]
 8   customers      1281087 non-null  Int64
 9   price          1281087 non-null  float64
dtypes: Int64(6), datetime64[ns, UTC](2), float64(2)
memory usage: 105.1 MB

In [ ]:
order_data_df.isnull().sum()

int64_field_0          0
id_order               0
id_store               0
id_table         1080614
id_waiter          90074
id_device           8868
date_opened            0
date_closed            0
customers              0
price                  0
dtype: int64

#VISUALIZANDO EDA

In [ ]:
print(order_data_df['price'])

0          38.50
1          69.00
2          59.00
3          44.00
4          56.25
           ...
1281082    10.90
1281083    10.90
1281084    10.90
1281085    10.90
1281086    10.90
Name: price, Length: 1281087, dtype: float64